In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
from utils import group_into_trips, group_by_engine_type
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import datetime
import pytz

In [3]:
static = pd.read_csv('../VED_Static_Data_ICE_HEV.csv')
timeseries = pd.read_csv('../sample_data.csv')
ICEs, _, _, _ = group_by_engine_type(static, timeseries)
weather = pd.read_csv('weather_data.csv')

In [37]:
trips = group_into_trips(ICEs)

In [38]:
trips[0]['DayNum']

0       330.985161
1       330.985161
2       330.985161
3       330.985161
4       330.985161
           ...
1062    330.985161
1063    330.985161
1064    330.985161
1065    330.985161
1066    330.985161
Name: DayNum, Length: 1067, dtype: float64

In [39]:
duration = []
# checking if any trip's duration is over 1.5 hours
over = False
for trip in trips:
    trip_duration = trip.iloc[trip.shape[0] - 1]['Timestamp(ms)']/1000/60/60
    if trip_duration > 1.5:
        over = True
        
over

False

In [93]:
weather['date'] = [datetime.datetime.fromtimestamp(x).astimezone(pytz.timezone('US/Eastern')).strftime('%Y-%m-%d') for x in weather['dt']]
weather['hour'] = [datetime.datetime.fromtimestamp(x).astimezone(pytz.timezone('US/Eastern')).hour for x in weather['dt']]
weather.head()

,dt,dt_iso,timezone,city_name,lat,lon,temp,feels_like,temp_min,temp_max,...,rain_3h,snow_1h,snow_3h,clouds_all,weather_id,weather_main,weather_description,weather_icon,date,hour
0,1509494400,2017-11-01 00:00:00 +0000 UTC,-14400,Ann Arbor,42.280826,-83.743038,3.45,-0.21,2.0,4.4,...,NaN,NaN,NaN,90,804,Clouds,overcast clouds,04n,2017-10-31,20
1,1509498000,2017-11-01 01:00:00 +0000 UTC,-14400,Ann Arbor,42.280826,-83.743038,2.97,-2.33,2.0,4.0,...,NaN,NaN,NaN,90,804,Clouds,overcast clouds,04n,2017-10-31,21
2,1509501600,2017-11-01 02:00:00 +0000 UTC,-14400,Ann Arbor,42.280826,-83.743038,2.59,-0.79,1.7,4.0,...,NaN,NaN,NaN,1,800,Clear,sky is clear,01n,2017-10-31,22
3,1509505200,2017-11-01 03:00:00 +0000 UTC,-14400,Ann Arbor,42.280826,-83.743038,2.60,-1.14,1.5,3.3,...,NaN,NaN,NaN,90,804,Clouds,overcast clouds,04n,2017-10-31,23
4,1509508800,2017-11-01 04:00:00 +0000 UTC,-14400,Ann Arbor,42.280826,-83.743038,1.94,-1.27,0.6,3.0,...,NaN,NaN,NaN,90,804,Clouds,overcast clouds,04n,2017-11-01,0

In [4]:
for trip in trips:
    dayNum = trip.iloc[0]['DayNum']
    print("DAY NUMBER: ", dayNum)
    begin_date = '11/01/17'
    start_date = datetime.datetime.strptime(begin_date, "%m/%d/%y")
    trip_start_date = (start_date + datetime.timedelta(days=dayNum)).strftime('%Y-%m-%d')
    trip_start_hour = (start_date + datetime.timedelta(days=dayNum)).hour
    air_temp = weather[(weather['date'] == trip_start_date) & (weather['hour'] == trip_start_hour)]['temp'].iloc[0]
    print(trip_start_date)
    print(trip_start_hour)
    print(air_temp)

NameError: name 'trips' is not defined